run = "npm install && npm start"
entrypoint = "server/index.js"

[env]
NODE_ENV = "production"

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "install"]
run = ["npm", "start"]
